In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [2]:
data = pd.read_csv('../data/mod_1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
983,tt0454876,120000000,609016565,Life of Pi,Suraj Sharma|Irrfan Khan|Ayush Tandon|Gautam B...,Ang Lee,Believe The Unbelievable,"The story of an Indian boy named Pi, a zookeep...",127,Adventure|Drama|Action,Ingenious Film Partners|Ingenious Media|Dune E...,11/20/2012,7.1,2012
218,tt3007512,22500000,15520023,The Water Diviner,Russell Crowe|Olga Kurylenko|Jai Courtney|Isab...,Russell Crowe,A father's journey in search of his sons.,"Four years after the Battle of Gallipoli, Aust...",112,War|Drama,Hopscotch Features|RatPac Entertainment|Seven ...,12/25/2014,6.8,2014
256,tt1156398,23600000,102391382,Zombieland,Jesse Eisenberg|Woody Harrelson|Emma Stone|Abi...,Ruben Fleischer,This place is so dead,Columbus has made a habit of running from what...,88,Comedy|Horror,Columbia Pictures,10/7/2009,7.1,2009
1815,tt0165929,25000000,91036760,Romeo Must Die,Jet Li|Aaliyah|Isaiah Washington|Russell Wong|DMX,Andrzej Bartkowiak,"In the city ruled by criminals, two families h...",Two warring gang families (one African-America...,115,Action|Crime|Thriller,Silver Pictures|Warner Bros.,3/20/2000,5.8,2000
1438,tt0462590,12000000,114194847,Step Up,Channing Tatum|Jenna Dewan|Damaine Radcliff|De...,Anne Fletcher,Every Second Chance Begins With a First Step,Everyone deserves a chance to follow their dre...,104,Music|Drama|Romance|Crime,Summit Entertainment|Offspring Entertainment|T...,8/11/2006,6.7,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# 1. Преобразуем формат колонки release_date в формат даты
data['release_date'] = data['release_date'].astype('datetime64[ns]')

In [5]:
# 2. Все значения колонки imdb_id начинаются на tt, поэтому уберем их
data[~data['imdb_id'].str.match('tt')].shape
data['imdb_id'] = data['imdb_id'].apply(lambda x: x[2::])

In [6]:
# 3. Преобразуем формат колонки imdb_id в int
data['imdb_id'] = data['imdb_id'].astype(int)

In [7]:
# 4. Добавин новый столбец profit = revenue - budget
data['profit'] = data['revenue'] - data['budget']

In [8]:
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
1,1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354
2,2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201
3,2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
4,2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
def get_movie_name(data_frame) -> str:
    ''' Вспомогательная функция для получения наименования и imdb иденетефикатора фильма из заданного датафрэйма
    Функция на вход получает data_frame (DataFrame) и берет из него original_title и imdb_id из верхней строки.
    Как результат выдает строку вида 'original_title (imdb_id)'
    '''
    original_title = data_frame['original_title'][data_frame.index[0]]
    imdb_id = data_frame['imdb_id'][data_frame.index[0]]
    
    return f'{original_title} ({imdb_id})'

In [10]:
df = data[data['budget'] == data['budget'].max()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

In [11]:
answers['1'] = get_movie_name(df)
answers['1']

'Pirates of the Caribbean: On Stranger Tides (1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [12]:
df = data[data['runtime'] == data['runtime'].max()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

In [13]:
answers['2'] = get_movie_name(df)
answers['2']

'Gods and Generals (279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
df = data[data['runtime'] == data['runtime'].min()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [15]:
answers['3'] = get_movie_name(df)
answers['3']

'Winnie the Pooh (1449283)'

# 4. Какова средняя длительность фильмов?

In [16]:
runtime_mean = data['runtime'].mean()

In [17]:
answers['4'] = runtime_mean
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [18]:
runtime_median = data['runtime'].median()

In [19]:
answers['5'] = runtime_median
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [20]:
df = data[data['profit'] == data['profit'].max()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [21]:
answers['6'] = get_movie_name(df)
answers['6']

'Avatar (499549)'

# 7. Какой фильм самый убыточный?

In [22]:
df = data[data['profit'] == data['profit'].min()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [23]:
answers['7'] = get_movie_name(df)
answers['7']

'The Lone Ranger (1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
movie_count = data.query('revenue > budget').shape[0]
movie_count

1478

In [25]:
answers['8'] = movie_count
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
max_profit = data.groupby(['release_year'])['profit'].max()[2008]
df = data.query(f'release_year == 2008 & profit == {max_profit}')
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [27]:
answers['9'] = get_movie_name(df)
answers['9']

'The Dark Knight (468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
min_profit = data.query('release_year in [2012, 2013, 2014]')['profit'].min()
df = data.query(f'release_year in [2012, 2013, 2014] and profit == {min_profit}')
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [29]:
answers['10'] = get_movie_name(df)
answers['10']

'The Lone Ranger (1210819)'

# 11. Какого жанра фильмов больше всего?

ВАРИАНТ 1

In [30]:
# Получим список всех жанров
genres_list = []
for genres in data['genres']:
    genres_list += genres.split('|')

# Посчитаем количество вхождений различных жанров в списке
c = Counter()
for genre in genres_list:
    c[genre] += 1
    
most_common_genre = c.most_common(1)[0]
most_common_genre

('Drama', 782)

In [31]:
answers['11'] = most_common_genre[0]
answers['11']

'Drama'

ВАРИАНТ 2

In [32]:
# Получим список всех жанров
genres_string = data['genres'].str.cat(sep='|')
genres_list = genres_string.split('|')

# Посчитаем количество вхождений различных жанров в списке
genres_serie = pd.Series(genres_list)
ser = genres_serie.value_counts()

ser.head(1)

Drama    782
dtype: int64

In [33]:
answers['11'] = ser.index[0]
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [34]:
# Возьмем только прибыльные фильмы
data_profit = data.query('profit > 0')

# Получим список всех жанров
genres_string = data_profit['genres'].str.cat(sep='|')
genres_list = genres_string.split('|')

# Посчитаем количество вхождений различных жанров в списке
genres_serie = pd.Series(genres_list)
ser = genres_serie.value_counts()

ser.head(1)

Drama    560
dtype: int64

In [35]:
answers['12'] = ser.index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [36]:
ser = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head()
ser

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

In [37]:
answers['13'] = ser.index[0]
answers['13']

'Peter Jackson'

В некоторых полях столбцах director  режисеры указаны не в единственном числе. Это влечет за собой возможные ошибки, например такие:
1. Kyle Balda|Pierre Coffin и Chris Renaud|Kyle Balda в нашем решении выше будут учитываться как разные значения
2. Pete Docter, Bob Peterson|Pete Docter и Lee Unkrich|David Silverman|Pete Docter  в нашем решении выше будут учитываться как три различных значения

Поэтому перепроверим

In [38]:
# Получим список всех уникальных режисеров
directors_list = data['director'].str.cat(sep='|').split('|')
directors_list = pd.Series(directors_list).unique()

# Для каждого уникального значения режисера отфильтруем исходную таблицу так, 
# чтобы в нее входили только строки с этим режисером. 
# Посчитаем сумму столбца revenue и найдем максимальную.
revenue_list = []
for director in directors_list:
    sum_revenue =  data[data['director'].str.contains(director, na=False)]['revenue'].sum()
    revenue_list.append(sum_revenue)
    
ser = pd.Series(revenue_list, index=directors_list).sort_values(ascending=False).head()
ser

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
dtype: int64

При таком подходе решения задачи Peter Jackson также является режисером с максимальными кассовыми сборами. Так что оставляем его в качастве ответа

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [39]:
# Получим таблицу только с фильмами, в которых содержится жанр Action
data_action = data[data['genres'].str.contains('Action', na=False)]

In [40]:
# попробуем решить задачу не учитывая, что в некоторых полях столбцах director 
# режисеры указаны не в единственном числе
data_action['director'].value_counts().head(10)

Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      6
Ridley Scott          6
Antoine Fuqua         6
Peter Berg            5
Zack Snyder           5
Tony Scott            5
Brett Ratner          5
Gore Verbinski        5
Name: director, dtype: int64

В некоторых полях столбцах director  режисеры указаны не в единственном числе. Это влечет за собой возможные ошибки, например такие:
1. Kyle Balda|Pierre Coffin и Chris Renaud|Kyle Balda в нашем решении выше будут учитываться как разные значения
2. Pete Docter, Bob Peterson|Pete Docter и Lee Unkrich|David Silverman|Pete Docter  в нашем решении выше будут учитываться как три различных значения

Поэтому решим задачу иным способом:

In [41]:
# Получим список всех уникальных режисеров
directors_list = data_action['director'].str.cat(sep='|').split('|')
directors_list = pd.Series(directors_list).unique()

# Для каждого уникального значения режисера отфильтруем исходную таблицу так, 
# чтобы в нее входили только строки с этим режисером. 
# Посчитаем количество строк в отфильтрованной таблице
count_list = []
for director in directors_list:
    c =  data_action[data_action['director'].str.contains(director, na=False)].shape[0]
    count_list.append(c)

ser = pd.Series(count_list, index=directors_list).sort_values(ascending=False).head(10)
ser

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
Andrzej Bartkowiak    5
Brett Ratner          5
Paul Greengrass       5
Quentin Tarantino     5
Peter Jackson         5
dtype: int64

Видим, что Robert Rodriguez снял фильм в жанре Action в одиночку 6 раз и еще 3 раза совместно с другими режисерами.

In [42]:
answers['14'] = ser.index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

Опробуем иной подход к решению задач. Кажое значение полей cast/director/genres/production_companies разбиваем на словарь значений. В случае необходимости можно разделить таблицу (explode) и сделать так, чтобы в нужном столбце был указан только один актер/режисер/жанр/компания, при этом количество строк увеличется. Это позволит применять метод groupby по выбранному полю и ошибок приведенных выше не будет, так как в этом поле будет только одно значение.

In [43]:
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data['director'] = data['director'].apply(lambda x: x.split('|'))
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))

Получим таблицу только с фильмами 2012 года, разделим  (explode) ее по актерам
Потом сгруппируем по актерам и посчитаем суммарные кассовые сборы

In [44]:
data_cast = data.query('release_year == 2012').explode('cast')
ser = data_cast.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head()
ser

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

In [45]:
answers['15'] = ser.index[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

Будем исходить из определения:
"Высокобюджетный фильм - это фильм, у которого бюджет выше среднего"

In [46]:
budget_mean = data['budget'].mean()
data_cast = data.query(f'budget > {budget_mean}').explode('cast')

ser = data_cast['cast'].value_counts().sort_values(ascending=False).head()
ser

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
Name: cast, dtype: int64

In [47]:
answers['16'] = ser.index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

Получим таблицу со всеми фильмами с Николасом Кейджом и разделим таблицу (explode) ее по жанрам. После посчитаем количество фильмов для каждого жанра

In [48]:
actor = "'Nicolas Cage'"
data_cast = data.explode('cast').query(f'cast == {actor}')
data_cast = data_cast.explode('genres')

ser = data_cast['genres'].value_counts().sort_values(ascending=False).head()
ser

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: genres, dtype: int64

In [49]:
answers['17'] = ser.index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

Сначала получим таблицу всех фильмов от Paramount Pictures. После выберем тот, у которого самый маленький доход (profit)

In [50]:
company = 'Paramount Pictures'
data_company = data.explode('production_companies').query(f'production_companies == "{company}"')

df = data_company.query('profit == profit.min()')
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,2002-07-19,6.0,2002,-64831034

In [51]:
answers['18'] = get_movie_name(df)
answers['18']

'K-19: The Widowmaker (267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

Сгруппируем нашу таблицу по годам выхода фильма и посчитаем суммарные кассовые сборы. Выберем год с максимальным значением.

In [52]:
ser = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head()
ser

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

In [53]:
answers['19'] = ser.index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

Сначала получим таблицу всех фильмов студии Warner Bros. Использовать для этого конструкцию, как ранее сложно:

data_company = data.explode('production_companies').query(f'production_companies == "{company}"')

Так как: Warner Bros включает в себя 'Warner Bros.', 'Warner Bros. Animation', 'Warner Bros. Interactive Entertainment' и 'Warner Bros. Pictures'. Поэтому воспользуемся другим подходом: 

data_company['production_companies'].str.contains(company)

Далее сгруппируем по годам выхода фильма и посчитаем суммарную прибыль.

In [54]:
company = 'Warner Bros'
data_company = data.explode('production_companies')
data_company = data_company[data_company['production_companies'].str.contains(company)]

ser = data_company.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head()
ser

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

In [55]:
answers['20'] = ser.index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

Для решения задачи добавим новое поле release_month - месяц, когда вышел фильм. Далее сгруппируем по этому полю и посчитаем суммарное количество фильмов.

In [56]:
data_month = data
data_month['release_month'] = data['release_date'].dt.month

ser = data_month['release_month'].value_counts().sort_values(ascending=False).head()
ser

9     227
12    190
10    186
8     161
3     156
Name: release_month, dtype: int64

In [57]:
answers['21'] = ser.index[0]
answers['21']

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

Для решения задачи добавим новое поле release_month - месяц, когда вышел фильм. Отберем только те фильмы, которые вышли в летние месяцы и посчитаем их количество.

In [58]:
data_month = data
data_month['release_month'] = data['release_date'].dt.month

df = data_month.query('release_month in [6, 7, 8]')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1888
Data columns (total 16 columns):
imdb_id                 450 non-null int64
budget                  450 non-null int64
revenue                 450 non-null int64
original_title          450 non-null object
cast                    450 non-null object
director                450 non-null object
tagline                 450 non-null object
overview                450 non-null object
runtime                 450 non-null int64
genres                  450 non-null object
production_companies    450 non-null object
release_date            450 non-null datetime64[ns]
vote_average            450 non-null float64
release_year            450 non-null int64
profit                  450 non-null int64
release_month           450 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(7)
memory usage: 59.8+ KB

In [59]:
answers['22'] = df.shape[0]
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

Для каждого режиссера необходимо посчитать, сколько фильмов он выпустил зимой и найти того, у которого это значение максимальное.

Для решения задачи добавим новое поле release_month - месяц, когда вышел фильм. Отфильтруем фильмы, которые вышли в зимние месяцы. Далее посчитаем сколько фильмов снял каждый режисер. Выберем того, кто снял больше всех.

In [60]:
data_month = data
data_month['release_month'] = data['release_date'].dt.month
data_month = data_month.query('release_month in [12, 1, 2]')
data_month = data_month.explode('director')

ser = data_month['director'].value_counts().sort_values(ascending=False).head()
ser

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Shawn Levy           4
Name: director, dtype: int64

In [61]:
answers['23'] = ser.index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

Нужно найти длину названия для каждого фильма, затем найти среднюю длину названий фильмов для каждой студии.

Для решения текушей задачи добавим новое поле title_length - длина названия фильма. Сгруппируем таблицу по студиям и посчитаем среднее значение дли наименований фильмов. Выберем студию с максимальным значением.

In [62]:
data_title = data
data_title['title_length'] = data['original_title'].str.len()
data_title = data_title.explode('production_companies')

ser = data_title.groupby(['production_companies'])['title_length'].mean().sort_values(ascending=False).head()
ser

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: title_length, dtype: float64

In [63]:
answers['24'] = ser.index[0]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

Для решения текушей задачи добавим новое поле count_words - количество фильмов в описании. Сгруппируем таблицу по студиям и посчитаем среднее значение количества слов в описании. Ответом будет компания с максамальным средним значением.

In [64]:
data_company = data.explode('production_companies')
data_company['count_words'] = data_company['overview'].apply(lambda x: len(x.split()))

ser = data_company.groupby(['production_companies'])['count_words'].mean().sort_values(ascending=False).head()
ser

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      159.0
Brookwell-McNamara Entertainment    156.0
Name: count_words, dtype: float64

In [65]:
answers['25'] = ser.index[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

Сначала отсортируем фильмы по полю vote_average. Далее найдем квантиль 0.99 с помощью series.quantile(0.99). Отберем из полченной таблицы фильмы с vote_average не ниже квантиль 0.99.

In [66]:
data_rating = data.sort_values('vote_average')[['original_title', 'vote_average']]

df = data_rating.query('vote_average >= vote_average.quantile(0.99)').sort_values('vote_average', ascending=False)
df.head(15)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
118                                    Interstellar           8.0
34                                             Room           8.0
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
138                        The Grand Budapest Hotel           7.9
1183                        The Wolf of Wall Street           7.9
370                                       Inception           7.9
119                         Guardians of the Galaxy           7.9
1800                                        Memento           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
124                                      Big Hero 6           7.8

Проверим предложенные варианты, входят ли они в 1% лучших фильмов по рейтингу

In [67]:
s = 'Inside Out, The Dark Knight, 12 Years a Slave'
movies = s.split(', ')

df.query(f"original_title in {movies}")

        original_title  vote_average
599    The Dark Knight           8.1
9           Inside Out           8.0
1191  12 Years a Slave           7.9

In [68]:
answers['26'] = s
answers['26']

'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

Для каждого фильма возьмем список актеров и с помощью метода combinations из библиотеки itertools получим всевозможные комбинации из двух актеров. Соберем все эти комбинации в единый список и посчтиаем количество вхождений. Таким образом определим пару актеров, которая снялась в большем количестве фильмов.

PS при формировании комбинаций пар, предвариетельно отсортируем список актеров, чтобы получать "отсортированные" пары, иначе можно получить ошибку в алгоритме подсчета, так как ('A', 'B') != ('B', 'A')

In [69]:
pairs = []
for cast in data['cast']:
    pairs += list(itertools.combinations(sorted(cast), 2))
    
ser = pd.Series(pairs)
ser = ser.value_counts().sort_values(ascending=False).head(3)
ser

(Daniel Radcliffe, Rupert Grint)    8
(Daniel Radcliffe, Emma Watson)     8
(Emma Watson, Rupert Grint)         8
dtype: int64

Проверим предложенные варианты, какие из актеров подходят.

In [70]:
s = 'Daniel Radcliffe & Rupert Grint'

pair = tuple(sorted(s.split(' & ')))
pair in ser.index

True

In [71]:
answers['27'] = s
answers['27']

'Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

Алгоритм решения в целом тот же, только подсчет вхождений будем осуществлять при помощи Counter()

In [72]:
cnt = Counter()
for cast in data['cast']:
    for pair in itertools.combinations(sorted(cast), 2):
        cnt[pair] += 1
        
cnt.most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# Submission

In [73]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (1298650)',
 '2': 'Gods and Generals (279111)',
 '3': 'Winnie the Pooh (1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (499549)',
 '7': 'The Lone Ranger (1210819)',
 '8': 1478,
 '9': 'The Dark Knight (468569)',
 '10': 'The Lone Ranger (1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [74]:
# и убедиться что ни чего не пропустил)
len(answers)

27