In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [20]:
data = pd.read_csv('../data/mod_1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1116,tt0302886,24000000,87055349,Old School,Luke Wilson|Will Ferrell|Vince Vaughn|Ellen Po...,Todd Phillips,"All the fun of college, none of the education.",Three friends attempt to recapture their glory...,91,Comedy,DreamWorks SKG|The Montecito Picture Company,2/21/2003,6.6,2003
782,tt0810913,79000000,149673788,Jack and Jill,Adam Sandler|Katie Holmes|Al Pacino|Eugenio De...,Dennis Dugan,His twin sister is coming for the holidays... ...,"Jack Sadelstein, a successful advertising exec...",91,Comedy,Columbia Pictures|Happy Madison Productions|Br...,11/11/2011,4.2,2011
1674,tt0480249,150000000,585349010,I Am Legend,Will Smith|Alice Braga|Charlie Tahan|Salli Ric...,Francis Lawrence,The last man on Earth is not alone,Robert Neville is a scientist who was unable t...,101,Drama|Horror|Action|Thriller|Science Fiction,Village Roadshow Pictures|Original Film|Weed R...,12/14/2007,6.8,2007
418,tt0879870,60000000,204594016,Eat Pray Love,Julia Roberts|James Franco|Javier Bardem|Billy...,Ryan Murphy,Let Yourself GO,Liz Gilbert had everything a modern woman is s...,133,Drama,Columbia Pictures|Red Om Films|Plan B Entertai...,8/12/2010,5.7,2010
324,tt0762125,70000000,104945765,Planet 51,Dwayne Johnson|Seann William Scott|Jessica Bie...,Jorge Blanco|Javier Abad|Marcos MartÃ­nez,Something strange is coming to their planet...Us!,When Earth astronaut Capt. Chuck Baker arrives...,91,Science Fiction|Animation|Family|Comedy|Adventure,TriStar Pictures|Ilion Animation Studios|Hand ...,11/19/2009,5.7,2009

In [21]:
data[~data['imdb_id'].str.match('tt')].shape

(0, 14)

In [22]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [87]:
answers = {} # создадим словарь для ответов

# 1. Преобразуем формат колонки release_date в формат даты
data['release_date'] = data['release_date'].astype('datetime64[ns]')

In [ ]:
# 2. Все значения колонки imdb_id начинаются на tt, поэтому уберем их
data[~data['imdb_id'].str.match('tt')].shape
data['imdb_id'] = data['imdb_id'].apply(lambda x: x[2::])

In [ ]:
# 3. Преобразуем формат колонки imdb_id в int
data['imdb_id'] = data['imdb_id'].astype(int)

In [ ]:
# 4. обавин новый столбец profit = revenue - budget
data['profit'] = data['revenue'] - data['budget']

In [88]:
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
1,1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354
2,2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201
3,2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
4,2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [96]:
def get_movie_name(data_frame) -> str:
    ''' Вспомогательная функция для получения наименования и imdb иденетефикатора фильма из заданного датафрэйма
    Функция на вход получает data_frame (DataFrame) и берет из него original_title и imdb_id из верхней строки.
    Как результат выдает строку вида 'original_title (imdb_id)'
    '''
    original_title = data_frame['original_title'][data_frame.index[0]]
    imdb_id = data_frame['imdb_id'][data_frame.index[0]]
    
    return f'{original_title} ({imdb_id})'

In [97]:
df = data[data['budget'] == data['budget'].max()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

In [98]:
answers['1'] = get_movie_name(df)
answers['1']

'Pirates of the Caribbean: On Stranger Tides (1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [100]:
df = data[data['runtime'] == data['runtime'].max()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

In [102]:
answers['2'] = get_movie_name(df)
answers['2']

'Gods and Generals (279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [103]:
df = data[data['runtime'] == data['runtime'].min()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [104]:
answers['3'] = get_movie_name(df)
answers['3']

'Winnie the Pooh (1449283)'

# 4. Какова средняя длительность фильмов?

In [81]:
runtime_mean = data['runtime'].mean()

In [82]:
answers['4'] = runtime_mean
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [83]:
runtime_median = data['runtime'].median()

In [84]:
answers['5'] = runtime_median
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [105]:
df = data[data['profit'] == data['profit'].max()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [106]:
answers['6'] = get_movie_name(df)
answers['6']

'Avatar (499549)'

# 7. Какой фильм самый убыточный?

In [113]:
df = data[data['profit'] == data['profit'].min()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [114]:
answers['7'] = get_movie_name(df)
answers['7']

'The Lone Ranger (1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [115]:
movie_count = data.query('profit > 0').shape[0]
movie_count

1478

In [116]:
answers['8'] = movie_count
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)