In [1]:
import pandas as pd

df = pd.read_csv('../data/data_sf.xls')

In [18]:
small_df = df[df.columns[1:8]]
small_df.head(10)

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK

In [22]:
s = small_df['Club'].value_counts()
s

V-Varen Nagasaki     30
Shonan Bellmare      30
De Graafschap        29
Vissel Kobe          29
FC Emmen             29
                     ..
Cruzeiro              8
GD Chaves             7
Dinamo Zagreb         7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [23]:
s.index

Index(['V-Varen Nagasaki', 'Shonan Bellmare', 'De Graafschap', 'Vissel Kobe',
       'FC Emmen', 'Padova', 'Sagan Tosu', 'Southend United', 'Exeter City',
       'SV Meppen',
       ...
       'Kasimpaşa SK', 'OGC Nice', 'FC Metz', 'Dijon FCO', 'Olympiacos CFP',
       'Cruzeiro', 'GD Chaves', 'Dinamo Zagreb', 'Vitória Guimarães',
       'Atlético Mineiro'],
      dtype='object', length=650)

In [24]:
print('самая часто встречающаяся страна', s.index[0])
print('число уникальных стран', len(s.index))

самая часто встречающаяся страна V-Varen Nagasaki
число уникальных стран 650

In [15]:
print('можно получить значение по конкретной стране', s['Germany'])

3

In [28]:
print('можно фильтровать по значениям:')
s.loc[s == s[-1]]

можно фильтровать по значениям:

Atlético Mineiro    6
Name: Club, dtype: int64

In [29]:
small_df['Nationality'].value_counts(normalize=True)

England      0.106071
Germany      0.071257
Spain        0.052028
France       0.047608
Argentina    0.044506
               ...
Mauritius    0.000078
Qatar        0.000078
St Lucia     0.000078
Oman         0.000078
Belize       0.000078
Name: Nationality, Length: 156, dtype: float64

In [33]:
pos = small_df['Position'].value_counts(normalize=True)

In [34]:
pos.loc[pos > 0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64