In [2]:
import numpy as np

In [3]:
w = np.array([-29.3, -0.26, 8.4])
w

array([-29.3 ,  -0.26,   8.4 ])

In [4]:
x = np.array([1, 0.2, 6])
np.dot(w, x)

21.048000000000005

In [12]:
x = np.array([11, 8])
display(x)

array([11,  8])

In [13]:
x = x - x.mean()
display(x)

array([ 1.5, -1.5])

In [14]:
x = x/np.linalg.norm(x)
display(x)

array([ 0.70710678, -0.70710678])

In [ ]:
x

## Практика. Классический OLS алгоритм

In [1]:
# Загрузка библиотек
import numpy as np # для работы с массивами
import pandas as pd # для работы DataFrame 
import seaborn as sns # библиотека для визуализации статистических данных
import matplotlib.pyplot as plt # для построения графиков

%matplotlib inline

In [3]:
data = pd.read_csv('../data/Admission_Predict_Ver1.1.csv')

In [4]:
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

In [8]:
list(data.columns)[1:]

['GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research',
 'Chance of Admit ']

In [9]:
data.loc[:, list(data.columns)[1:]]

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

Составьте корреляциюнную матрицу перечисленных признаков вместе с целевой переменной, исключив столбец Serial No.

Какой признак сильнее всех скоррелирован с целевым параметром?

In [13]:
dt = data.drop(columns=['Serial No.'])
dt.corr()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,1.000000,0.827200,0.635376,0.613498,0.524679,0.825878,0.563398,0.810351
TOEFL Score,0.827200,1.000000,0.649799,0.644410,0.541563,0.810574,0.467012,0.792228
University Rating,0.635376,0.649799,1.000000,0.728024,0.608651,0.705254,0.427047,0.690132
SOP,0.613498,0.644410,0.728024,1.000000,0.663707,0.712154,0.408116,0.684137
LOR,0.524679,0.541563,0.608651,0.663707,1.000000,0.637469,0.372526,0.645365
CGPA,0.825878,0.810574,0.705254,0.712154,0.637469,1.000000,0.501311,0.882413
Research,0.563398,0.467012,0.427047,0.408116,0.372526,0.501311,1.000000,0.545871
Chance of Admit,0.810351,0.792228,0.690132,0.684137,0.645365,0.882413,0.545871,1.000000

Постройте отдельно две матрицы корреляций признаков и целевой переменной: для соискателей, делавших исследования (Research=1) и для тех, у кого исследований нет (Research=0).

В каком случае признаки сильнее скоррелированы между собой?

In [21]:
dt.query('Research == 1').corr()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,1.000000,0.824170,0.614739,0.613318,0.443374,0.806720,NaN,0.802439
TOEFL Score,0.824170,1.000000,0.602445,0.629436,0.436199,0.784173,NaN,0.787180
University Rating,0.614739,0.602445,1.000000,0.723126,0.573881,0.692237,NaN,0.713094
SOP,0.613318,0.629436,0.723126,1.000000,0.591858,0.717750,NaN,0.708238
LOR,0.443374,0.436199,0.573881,0.591858,1.000000,0.564794,NaN,0.588558
CGPA,0.806720,0.784173,0.692237,0.717750,0.564794,1.000000,NaN,0.892489
Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chance of Admit,0.802439,0.787180,0.713094,0.708238,0.588558,0.892489,NaN,1.000000

In [20]:
dt.loc[dt.loc[:,'Research'] == 0].corr()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,1.000000,0.680668,0.384715,0.371424,0.365864,0.678476,NaN,0.603827
TOEFL Score,0.680668,1.000000,0.495748,0.476563,0.470956,0.696774,NaN,0.622458
University Rating,0.384715,0.495748,1.000000,0.607496,0.484262,0.516427,NaN,0.428580
SOP,0.371424,0.476563,0.607496,1.000000,0.618680,0.547098,NaN,0.470188
LOR,0.365864,0.470956,0.484262,0.618680,1.000000,0.562517,NaN,0.542528
CGPA,0.678476,0.696774,0.516427,0.547098,0.562517,1.000000,NaN,0.752714
Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chance of Admit,0.603827,0.622458,0.428580,0.470188,0.542528,0.752714,NaN,1.000000

В случае, когда корреляции между данными меньше, какие признаки наиболее скоррелированы с целевой переменной?

In [22]:
['TOEFL Score', 'CGPA']

['TOEFL Score', 'CGPA']

Постройте OLS регрессию Chance of Admission на выбранные в предыдущей задаче признаки без стандартизации. Используйте данные для соискателей, у которых нет исследований (Research == 0). Признаки запишите в матрицу данных в том порядке, в котором они представлены в DataFrame.

In [27]:
TOEFL = dt.loc[dt.loc[:,'Research'] == 0, 'TOEFL Score']
display(TOEFL.head())

CGPA = dt.loc[dt.loc[:,'Research'] == 0, 'CGPA']
display(CGPA.head())

# Создаем вектор из единиц для коэффициента w_0
n = np.shape(TOEFL)[0]
x_0 = np.ones(n)
display(n)

4     103
7     101
8     102
9     108
15    105
Name: TOEFL Score, dtype: int64

4     8.21
7     7.90
8     8.00
9     8.60
15    8.30
Name: CGPA, dtype: float64

220

In [29]:
# записываем все векторы в СТОЛБЦЫ матрицы признаков А
A = np.column_stack((x_0, TOEFL, CGPA))
display(A[:10,:])

array([[  1.  , 103.  ,   8.21],
       [  1.  , 101.  ,   7.9 ],
       [  1.  , 102.  ,   8.  ],
       [  1.  , 108.  ,   8.6 ],
       [  1.  , 105.  ,   8.3 ],
       [  1.  , 107.  ,   8.7 ],
       [  1.  , 110.  ,   8.8 ],
       [  1.  , 102.  ,   8.5 ],
       [  1.  , 114.  ,   8.4 ],
       [  1.  , 109.  ,   8.8 ]])

In [33]:
# Создаем целевой вектор
y = dt.loc[dt.loc[:,'Research'] == 0, ['Chance of Admit ']]
display(y.head())

    Chance of Admit
4               0.65
7               0.68
8               0.50
9               0.45
15              0.54

In [34]:
# вычислим OLS оценку для коэффициентов
w_hat = np.linalg.inv(A.T@A) @ A.T@y
display(w_hat)

   Chance of Admit
0         -1.044864
1          0.004427
2          0.148077

Сделайте прогноз шансов поступления в университет для абитуриента с TOEFL Score=107, CGPA=9.1, используя модель, полученную в задаче 2.11.6 (используйте округленные значения признаков).

In [40]:
x_new = np.array([1., 107., 9.1])
w_hat_new = round(w_hat, 3)

display(w_hat_new)

   Chance of Admit
0            -1.045
1             0.004
2             0.148

In [42]:
x_new@w_hat_new

Chance of Admit     0.7298
dtype: float64

Аналогично задаче 2.11.6 постройте OLS регрессию Chance of Admission на выбранные в задаче 2.11.5 признаки, однако теперь сперва стандартизируйте эти признаки.

In [51]:
# вычислим среднее и норму признаков
TOEFL_mean = TOEFL.mean()
TOEFL_norm = np.linalg.norm(TOEFL - TOEFL_mean)

CGPA_mean = CGPA.mean()
CGPA_norm = np.linalg.norm(CGPA - CGPA_mean)

In [52]:
TOEFL_st = (TOEFL - TOEFL_mean) / TOEFL_norm
display(TOEFL_st.head())

CGPA_st = (CGPA - CGPA_mean) / CGPA_norm
display(CGPA_st.head())

4    -0.013908
7    -0.041980
8    -0.027944
9     0.056271
15    0.014163
Name: TOEFL Score, dtype: float64

4    -0.003566
7    -0.048268
8    -0.033848
9     0.052672
15    0.009412
Name: CGPA, dtype: float64

In [53]:
# записываем все векторы в СТОЛБЦЫ матрицы признаков А, но уже без единиц
A = np.column_stack((TOEFL_st, CGPA_st))
display(A[:10,:])

array([[-0.01390829, -0.00356568],
       [-0.04198007, -0.04826775],
       [-0.02794418, -0.03384772],
       [ 0.05627116,  0.05267241],
       [ 0.01416349,  0.00941234],
       [ 0.04223527,  0.06709243],
       [ 0.08434294,  0.08151245],
       [-0.02794418,  0.03825238],
       [ 0.1404865 ,  0.02383236],
       [ 0.07030705,  0.08151245]])

In [55]:
# стандартизуем целевой вектор
y_mean = y.mean()
y_norm = np.linalg.norm(y - y_mean)
y_st = (y - y_mean) / y_norm
display(y_st.head())

    Chance of Admit
4           0.009112
7           0.027225
8          -0.081456
9          -0.111645
15         -0.057304

In [56]:
# вычислим OLS оценку для коэффициентов
w_hat_st = np.linalg.inv(A.T@A) @ A.T@y_st
display(w_hat_st)

   Chance of Admit
0          0.190448
1          0.620015

In [57]:
round(w_hat_st, 2)

   Chance of Admit
0              0.19
1              0.62