In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('../data/mod_1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
855,tt1270262,19100000,5728213,The Devil's Double,Dominic Cooper|Ludivine Sagnier|Raad Rawi|Mehm...,Lee Tamahori,"The 80's were brilliant, if you were in charge.",A chilling vision of the House of Saddam Husse...,109,Drama|Action|Thriller|Crime|War,Corrino Media Corporation|Corsan|Staccato Films,2/11/2011,6.3,2011
452,tt1334260,15000000,9455232,Never Let Me Go,Carey Mulligan|Andrew Garfield|Keira Knightley...,Mark Romanek,The students have everything they need. Except...,"As children, Kathy, Ruth, and Tommy spend thei...",104,Drama|Romance|Science Fiction,Fox Searchlight Pictures|DNA Films|Film4,9/15/2010,6.7,2010
892,tt0259446,5000000,368744044,My Big Fat Greek Wedding,Nia Vardalos|John Corbett|Lainie Kazan|Michael...,Joel Zwick,Love is here to stay... so is her family.,A young Greek woman falls in love with a non-G...,95,Comedy|Drama|Romance,MPH Entertainment|Playtone Productions|Gold Ci...,2/22/2002,6.1,2002
884,tt0243585,120000000,169956806,Stuart Little 2,Michael J. Fox|Geena Davis|Hugh Laurie|Jonatha...,Rob Minkoff,A Little Goes A Long Way,"Stuart, an adorable white mouse, still lives h...",78,Family|Adventure|Animation|Comedy,Columbia Pictures|Sony Pictures Entertainment,7/19/2002,5.4,2002
1725,tt0486583,100000000,97838349,Fred Claus,Vince Vaughn|Paul Giamatti|John Michael Higgin...,David Dobkin,Everybody has that one relative who can't help...,Fred Claus (Vince Vaughn) and Santa Claus (Pau...,116,Action|Comedy|Drama,Silver Pictures|Warner Bros.|Jessie Nelson Pro...,11/3/2007,5.5,2007

In [3]:
data[~data['imdb_id'].str.match('tt')].shape

(0, 14)

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# 1. Преобразуем формат колонки release_date в формат даты
data['release_date'] = data['release_date'].astype('datetime64[ns]')

In [6]:
# 2. Все значения колонки imdb_id начинаются на tt, поэтому уберем их
data[~data['imdb_id'].str.match('tt')].shape
data['imdb_id'] = data['imdb_id'].apply(lambda x: x[2::])

In [7]:
# 3. Преобразуем формат колонки imdb_id в int
data['imdb_id'] = data['imdb_id'].astype(int)

In [8]:
# 4. обавин новый столбец profit = revenue - budget
data['profit'] = data['revenue'] - data['budget']

In [9]:
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
1,1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354
2,2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201
3,2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
4,2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
def get_movie_name(data_frame) -> str:
    ''' Вспомогательная функция для получения наименования и imdb иденетефикатора фильма из заданного датафрэйма
    Функция на вход получает data_frame (DataFrame) и берет из него original_title и imdb_id из верхней строки.
    Как результат выдает строку вида 'original_title (imdb_id)'
    '''
    original_title = data_frame['original_title'][data_frame.index[0]]
    imdb_id = data_frame['imdb_id'][data_frame.index[0]]
    
    return f'{original_title} ({imdb_id})'

In [11]:
df = data[data['budget'] == data['budget'].max()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

In [12]:
answers['1'] = get_movie_name(df)
answers['1']

'Pirates of the Caribbean: On Stranger Tides (1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [13]:
df = data[data['runtime'] == data['runtime'].max()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

In [14]:
answers['2'] = get_movie_name(df)
answers['2']

'Gods and Generals (279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
df = data[data['runtime'] == data['runtime'].min()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [16]:
answers['3'] = get_movie_name(df)
answers['3']

'Winnie the Pooh (1449283)'

# 4. Какова средняя длительность фильмов?

In [17]:
runtime_mean = data['runtime'].mean()

In [18]:
answers['4'] = runtime_mean
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [19]:
runtime_median = data['runtime'].median()

In [20]:
answers['5'] = runtime_median
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [21]:
df = data[data['profit'] == data['profit'].max()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [22]:
answers['6'] = get_movie_name(df)
answers['6']

'Avatar (499549)'

# 7. Какой фильм самый убыточный?

In [23]:
df = data[data['profit'] == data['profit'].min()]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [24]:
answers['7'] = get_movie_name(df)
answers['7']

'The Lone Ranger (1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [39]:
movie_count = data.query('revenue > budget').shape[0]
movie_count

1478

In [26]:
answers['8'] = movie_count
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [37]:
max_profit = data.groupby(['release_year'])['profit'].max()[2008]
df = data.query(f'release_year == 2008 & profit == {max_profit}')
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [38]:
answers['9'] = get_movie_name(df)
answers['9']

'The Dark Knight (468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [83]:
min_profit = data.query('release_year in [2012, 2013, 2014]')['profit'].min()
df = data.query(f'release_year in [2012, 2013, 2014] and profit == {min_profit}')
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [46]:
answers['10'] = get_movie_name(df)
answers['10']

'The Lone Ranger (1210819)'

# 11. Какого жанра фильмов больше всего?

ВАРИАНТ 1

In [98]:
# Получим список всех жанров
genres_list = []
for genres in data['genres']:
    genres_list += genres.split('|')

# Посчитаем количество вхождений различных жанров в списке
c = Counter()
for genre in genres_list:
    c[genre] += 1
    
most_common_genre = c.most_common(1)[0]
most_common_genre

('Drama', 782)

In [68]:
answers['11'] = most_common_genre[0]
answers['11']

'Drama'

ВАРИАНТ 2

In [118]:
# Получим список всех жанров
genres_string = data['genres'].str.cat(sep='|')
genres_list = genres_string.split('|')

# Посчитаем количество вхождений различных жанров в списке
genres_serie = pd.Series(genres_list)
ser = genres_serie.value_counts()

ser.head(1)

Drama    782
dtype: int64

In [119]:
answers['11'] = ser.index[0]
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [120]:
# Возьмем только прибыльные фильмы
data_profit = data.query('profit > 0')

# Получим список всех жанров
genres_string = data_profit['genres'].str.cat(sep='|')
genres_list = genres_string.split('|')

# Посчитаем количество вхождений различных жанров в списке
genres_serie = pd.Series(genres_list)
ser = genres_serie.value_counts()

ser.head(1)

Drama    560
dtype: int64

In [121]:
answers['12'] = ser.index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [180]:
ser = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head()
ser

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

In [182]:
answers['13'] = ser.index[0]
answers['13']

'Peter Jackson'

В некоторых полях столбцах director  режисеры указаны не в единственном числе. Это влечет за собой возможные ошибки, например такие:
1. Kyle Balda|Pierre Coffin и Chris Renaud|Kyle Balda в нашем решении выше будут учитываться как разные значения
2. Pete Docter, Bob Peterson|Pete Docter и Lee Unkrich|David Silverman|Pete Docter  в нашем решении выше будут учитываться как три различных значения

Поэтому перепроверим

In [187]:
# Получим список всех уникальных режисеров
directors_list = data['director'].str.cat(sep='|').split('|')
directors_list = pd.Series(directors_list).unique()

# Для каждого уникального значения режисера отфильтруем исходную таблицу так, 
# чтобы в нее входили только строки с этим режисером. 
# Посчитаем сумму столбца revenue и найдем максимальную.
revenue_list = []
for director in directors_list:
    sum_revenue =  data[data['director'].str.contains(director, na=False)]['revenue'].sum()
    revenue_list.append(sum_revenue)
    
ser = pd.Series(revenue_list, index=directors_list).sort_values(ascending=False).head()
ser

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
dtype: int64

При таком подходе решения задачи Peter Jackson также является режисером с максимальными кассовыми сборами. Так что оставляем его в качастве ответа

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [204]:
# Получим таблицу только с фильмами, в которых содержится жанр Action
data_action = data[data['genres'].str.contains('Action', na=False)]

In [205]:
# попробуем решить задачу не учитывая, что в некоторых полях столбцах director 
# режисеры указаны не в единственном числе
data_action['director'].value_counts().head(10)

Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
Robert Rodriguez      6
Brett Ratner          5
Roland Emmerich       5
Gore Verbinski        5
Paul Greengrass       5
Andrzej Bartkowiak    5
Name: director, dtype: int64

В некоторых полях столбцах director  режисеры указаны не в единственном числе. Это влечет за собой возможные ошибки, например такие:
1. Kyle Balda|Pierre Coffin и Chris Renaud|Kyle Balda в нашем решении выше будут учитываться как разные значения
2. Pete Docter, Bob Peterson|Pete Docter и Lee Unkrich|David Silverman|Pete Docter  в нашем решении выше будут учитываться как три различных значения

Поэтому решим задачу иным способом:

In [201]:
# Получим список всех уникальных режисеров
directors_list = data_action['director'].str.cat(sep='|').split('|')
directors_list = pd.Series(directors_list).unique()

# Для каждого уникального значения режисера отфильтруем исходную таблицу так, 
# чтобы в нее входили только строки с этим режисером. 
# Посчитаем количество строк в отфильтрованной таблице
count_list = []
for director in directors_list:
    c =  data_action[data_action['director'].str.contains(director, na=False)].shape[0]
    count_list.append(c)

ser = pd.Series(count_list, index=directors_list).sort_values(ascending=False).head(10)
ser

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
Andrzej Bartkowiak    5
Brett Ratner          5
Paul Greengrass       5
Quentin Tarantino     5
Peter Jackson         5
dtype: int64

Видим, что Robert Rodriguez снял фильм в жанре Action в одиночку 6 раз и еще 3 раза совместно с другими режисерами.

In [206]:
answers['14'] = ser.index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)