# Загрузка Pandas и очистка данных

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('main_task.csv')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 12 columns):
Restaurant_id        40000 non-null object
City                 40000 non-null object
Cuisine Style        30717 non-null object
Ranking              40000 non-null float64
Rating               40000 non-null float64
Price Range          40000 non-null object
Number of Reviews    37457 non-null float64
Reviews              40000 non-null object
URL_TA               40000 non-null object
ID_TA                40000 non-null object
Reviews text         40000 non-null object
Reviews date         40000 non-null object
dtypes: float64(3), object(9)
memory usage: 3.7+ MB

In [4]:
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

## Признак 'Price Range'

In [46]:
df.loc[:, 'Price Range'].unique()

array(['$$ - $$$', '$$$$', '$'], dtype=object)

In [39]:
df[df.loc[:, 'Price Range'] == '$$ - $$$'].shape

(18412, 10)

In [47]:
df.loc[:, 'Price Range'].value_counts()

$$ - $$$    32298
$            6279
$$$$         1423
Name: Price Range, dtype: int64

#### Идея! 
Пустые значения признака 'Price Range' можно заполнять модой

In [5]:
price_mode = df.loc[:, 'Price Range'].mode()[0]
df.loc[:, 'Price Range'].fillna(price_mode, inplace=True)

#### Идея! 
делаем замену строковые значения на колличественные, например на 1, 2, 3 в порядке возрастания уровня цен

## Признак 'City'

In [55]:
df.loc[:, 'City'].nunique()

31

In [53]:
df.loc[:, 'City'].isna().sum()

0

#### Идея!
Создаем новые 31 столбец и заполняем 1 в случае наименование признака совпадает с назвнаием города

## Признак 'Cuisine Style'

In [141]:
df.loc[:, 'Cuisine Style']

0                  ['European', 'French', 'International']
1                                                      NaN
2        ['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...
3                                                      NaN
4        ['German', 'Central European', 'Vegetarian Fri...
                               ...
39995    ['Italian', 'Vegetarian Friendly', 'Vegan Opti...
39996    ['French', 'American', 'Bar', 'European', 'Veg...
39997                                ['Japanese', 'Sushi']
39998    ['Polish', 'European', 'Eastern European', 'Ce...
39999                                          ['Spanish']
Name: Cuisine Style, Length: 40000, dtype: object

In [142]:
df.loc[:, 'Cuisine Style'].isna().sum()

9283

In [12]:
ser = df.loc[:, 'Cuisine Style'].apply(
    lambda s: [] if s != s else s.strip('[]').replace('\'', '').replace(' ', '').split(','))

In [70]:
def str_to_list(s):
    return [] if s != s else s.strip('[]').replace('\'', '').replace(' ', '').split(',')

In [18]:
ser_1 = df.loc[:, 'Cuisine Style'].apply(str_to_list)
ser_1

0                        [European, French, International]
1                                                       []
2        [Japanese, Sushi, Asian, Grill, VegetarianFrie...
3                                                       []
4            [German, CentralEuropean, VegetarianFriendly]
                               ...
39995    [Italian, VegetarianFriendly, VeganOptions, Gl...
39996    [French, American, Bar, European, VegetarianFr...
39997                                    [Japanese, Sushi]
39998    [Polish, European, EasternEuropean, CentralEur...
39999                                            [Spanish]
Name: Cuisine Style, Length: 40000, dtype: object

Сколько типов кухонь представлено в наборе данных?
Какая кухня представлена в наибольшем количестве ресторанов? Введите название кухни без кавычек или апострофов.

In [79]:
ser

0                        [European, French, International]
1                                                       []
2        [Japanese, Sushi, Asian, Grill, VegetarianFrie...
3                                                       []
4            [German, CentralEuropean, VegetarianFriendly]
                               ...
39995    [Italian, VegetarianFriendly, VeganOptions, Gl...
39996    [French, American, Bar, European, VegetarianFr...
39997                                    [Japanese, Sushi]
39998    [Polish, European, EasternEuropean, CentralEur...
39999                                            [Spanish]
Name: Cuisine Style, Length: 40000, dtype: object

In [14]:
ls = []
for s in ser:
    ls += s

In [15]:
ser_new = pd.Series(ls)

In [149]:
ser_new.value_counts()[ser_new.value_counts() > 1000]

VegetarianFriendly    11189
European              10060
Mediterranean          6277
Italian                5964
VeganOptions           4486
GlutenFreeOptions      4113
Bar                    3297
French                 3190
Asian                  3011
Pizza                  2849
Spanish                2798
Pub                    2449
Cafe                   2325
FastFood               1705
British                1595
International          1584
Seafood                1505
Japanese               1464
CentralEuropean        1393
American               1315
Sushi                  1156
Chinese                1145
Portuguese             1107
Indian                 1041
dtype: int64

Какое среднее количество кухонь предлагается в одном ресторане? Если в данных отсутствует информация о типах кухонь, то считайте, что в этом ресторане предлагается только один тип кухни. Ответ округлите до одного знака после запятой.

In [115]:
ser_mean = ser.apply(lambda x: 1 if x == [] else len(x))
ser_mean.mean()

2.6224

#### Идея!
 - Ввести новый признак, который равен отклонению количества кухонь и среднего
 - Можно создать 125 новых признаков на каждую кухню

## Признак Reviews

In [6]:
df.loc[23348, 'Reviews']

"[['lunch 29/9/2016', 'Unplanned Great Dinner'], ['09/30/2016', '08/25/2016']]"

In [7]:
df.loc[23347, 'Reviews']

"[['For Milano mid range food, go here', 'it is closed.'], ['03/02/2017', '10/17/2016']]"

In [8]:
df.loc[3, 'Reviews']

'[[], []]'

In [73]:
df.loc[:, 'Reviews text'] = df.loc[:, 'Reviews'].apply(lambda s: s.split('], [')[0])
df.loc[:, 'Reviews date'] = df.loc[:, 'Reviews'].apply(lambda s: s.split('], [')[1])
df.loc[:, ['Reviews text', 'Reviews date']]

,Reviews text,Reviews date
0,"[['Good food at your doorstep', 'A good hotel ...","'12/31/2017', '11/20/2017']]"
1,"[['Unique cuisine', 'Delicious Nepalese food'","'07/06/2017', '06/19/2016']]"
2,"[['Catch up with friends', 'Not exceptional'","'01/08/2018', '01/06/2018']]"
3,[[,]]
4,"[['Best place to try a Bavarian food', 'Nice b...","'11/18/2017', '02/19/2017']]"
...,...,...
39995,"[['The real Italian experience!', 'Wonderful f...","'12/16/2017', '11/12/2017']]"
39996,"[['Parisian atmosphere', 'Bit pricey but inter...","'12/21/2017', '12/12/2017']]"
39997,"[['Good by swedish standards', 'A hidden jewel...","'11/03/2016', '04/12/2008']]"
39998,"[['Underground restaurant', 'Oldest Restaurant...","'07/11/2017', '06/18/2017']]"
39999,"[['Average', 'Nice an informal'","'01/31/2016', '07/04/2012']]"

In [80]:
def str_to_list_new(s):
    return [] if s == ']]' else s.strip('[]').replace('\'', '').replace(' ', '').split(',')

In [81]:
df.loc[:, 'Reviews date'] = df.loc[:, 'Reviews date'].apply(str_to_list_new)

In [84]:
df.loc[:, 'Reviews date'].apply(lambda x: len(x)).value_counts()

2    28973
0     6471
1     4556
Name: Reviews date, dtype: int64

In [100]:
df[df.loc[:, 'Reviews date'].apply(lambda x: len(x)) == 1]['Reviews date']

16       [04/12/2017]
26       [07/05/2016]
27       [01/26/2017]
28       [08/20/2011]
32       [10/26/2015]
             ...
39972    [10/27/2017]
39974    [08/29/2016]
39983    [05/24/2015]
39984    [11/03/2016]
39989    [08/24/2015]
Name: Reviews date, Length: 4556, dtype: object

In [108]:
def get_el(ls):
    if len(ls) == 2:
        return ls[1]
    elif len(ls) == 1:
        return ls[0]
    else:
        return None

In [102]:
get_el(df.loc[16, 'Reviews date'])

'04/12/2017'

In [109]:
df.loc[:, 'Reviews date 1'] = df.loc[:, 'Reviews date'].apply(lambda x: None if len(x) == 0 else x[0])
df.loc[:, 'Reviews date 2'] = df.loc[:, 'Reviews date'].apply(get_el)

In [110]:
df.loc[:, ['Reviews date 1', 'Reviews date 2']]

      Reviews date 1 Reviews date 2
0         12/31/2017     11/20/2017
1         07/06/2017     06/19/2016
2         01/08/2018     01/06/2018
3               None           None
4         11/18/2017     02/19/2017
...              ...            ...
39995     12/16/2017     11/12/2017
39996     12/21/2017     12/12/2017
39997     11/03/2016     04/12/2008
39998     07/11/2017     06/18/2017
39999     01/31/2016     07/04/2012

[40000 rows x 2 columns]

In [111]:
datetime_vals_1 = pd.to_datetime(df.loc[:, 'Reviews date 1'].dropna())

In [112]:
datetime_vals_2 = pd.to_datetime(df.loc[:, 'Reviews date 2'].dropna())

In [117]:
display(datetime_vals_1.max())
display(datetime_vals_2.max())

Timestamp('2018-02-26 00:00:00')

Timestamp('2018-02-26 00:00:00')

In [132]:
df.loc[:, 'Reviews date 1'] = pd.to_datetime(df.loc[:, 'Reviews date 1'].dropna(), format='%m/%d/%Y')
df.loc[:, 'Reviews date 2'] = pd.to_datetime(df.loc[:, 'Reviews date 2'].dropna(), format='%m/%d/%Y')

In [138]:
df.loc[:, 'Reviews time delta'] = abs(df.loc[:, 'Reviews date 1'] - df.loc[:, 'Reviews date 2'])

In [140]:
df.loc[:, 'Reviews time delta'].max()

Timedelta('3207 days 00:00:00')

In [103]:
# Можно использовать поиск по регулярным выражениям, чтобы сразу получить столбец дат
import re

In [104]:
pattern = re.compile('\'\d+\/\d+\/\d+\'?')
#pattern = re.compile('\d+[/]\d+[/]\d+')

df['Reviews Date new'] = df['Reviews'].apply(lambda x: pattern.findall(x))

In [107]:
df['Reviews Date new'].apply(lambda x: len(x)).value_counts()

2    28973
0     6471
1     4556
Name: Reviews Date new, dtype: int64

#### Идея!
 - Создаем новый признак - разность между датами двух отзывов
 - Создаем новый признак - разность поледнего отзыва для данной строки и последнего отзыва для всех 
 - Необходимо заполнить пустые поля, средним значением

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [24]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [18]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [25]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [20]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [26]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [27]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.43369788313492064