# Загрузка Pandas и очистка данных

In [28]:
import pandas as pd

In [92]:
df = pd.read_csv('main_task.csv')

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
Restaurant_id        40000 non-null object
City                 40000 non-null object
Cuisine Style        30717 non-null object
Ranking              40000 non-null float64
Rating               40000 non-null float64
Price Range          40000 non-null object
Number of Reviews    37457 non-null float64
Reviews              40000 non-null object
URL_TA               40000 non-null object
ID_TA                40000 non-null object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [85]:
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

## Признак 'Price Range'

In [46]:
df.loc[:, 'Price Range'].unique()

array(['$$ - $$$', '$$$$', '$'], dtype=object)

In [39]:
df[df.loc[:, 'Price Range'] == '$$ - $$$'].shape

(18412, 10)

In [47]:
df.loc[:, 'Price Range'].value_counts()

$$ - $$$    32298
$            6279
$$$$         1423
Name: Price Range, dtype: int64

Пустые значения признака 'Price Range' можно заполнять модой

In [93]:
price_mode = df.loc[:, 'Price Range'].mode()[0]
df.loc[:, 'Price Range'].fillna(price_mode, inplace=True)

## Признак 'City'

In [55]:
df.loc[:, 'City'].nunique()

31

In [53]:
df.loc[:, 'City'].isna().sum()

0

## Признак 'Cuisine Style'

In [94]:
df.loc[:, 'Cuisine Style']

0                  ['European', 'French', 'International']
1                                                      NaN
2        ['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...
3                                                      NaN
4        ['German', 'Central European', 'Vegetarian Fri...
                               ...
39995    ['Italian', 'Vegetarian Friendly', 'Vegan Opti...
39996    ['French', 'American', 'Bar', 'European', 'Veg...
39997                                ['Japanese', 'Sushi']
39998    ['Polish', 'European', 'Eastern European', 'Ce...
39999                                          ['Spanish']
Name: Cuisine Style, Length: 40000, dtype: object

In [88]:
df.loc[:, 'Cuisine Style'].isna().sum()

9283

In [96]:
ser = df.loc[:, 'Cuisine Style'].apply(
    lambda s: [] if s != s else s.strip('[]').replace('\'', '').replace(' ', '').split(','))

Сколько типов кухонь представлено в наборе данных?
Какая кухня представлена в наибольшем количестве ресторанов? Введите название кухни без кавычек или апострофов.

In [101]:
ser

0                        [European, French, International]
1                                                       []
2        [Japanese, Sushi, Asian, Grill, VegetarianFrie...
3                                                       []
4            [German, CentralEuropean, VegetarianFriendly]
                               ...
39995    [Italian, VegetarianFriendly, VeganOptions, Gl...
39996    [French, American, Bar, European, VegetarianFr...
39997                                    [Japanese, Sushi]
39998    [Polish, European, EasternEuropean, CentralEur...
39999                                            [Spanish]
Name: Cuisine Style, Length: 40000, dtype: object

In [102]:
ls = []
for s in ser:
    ls += s

In [106]:
ser_new = pd.Series(ls)

In [110]:
ser_new.value_counts()

VegetarianFriendly    11189
European              10060
Mediterranean          6277
Italian                5964
VeganOptions           4486
                      ...
Yunnan                    1
Latvian                   1
Xinjiang                  1
Burmese                   1
Salvadoran                1
Length: 125, dtype: int64

Какое среднее количество кухонь предлагается в одном ресторане? Если в данных отсутствует информация о типах кухонь, то считайте, что в этом ресторане предлагается только один тип кухни. Ответ округлите до одного знака после запятой.

In [115]:
ser_mean = ser.apply(lambda x: 1 if x == [] else len(x))
ser_mean.mean()

2.6224

## Признак Reviews

In [161]:
import re

## Необходимо подобрать корректный паттерн для поиска регулярных выражений!

In [175]:
pattern = re.compile('\'\d+\/\d+\/\d+\'?')
#pattern = re.compile('\d+[/]\d+[/]\d+')

df['Reviews Date'] = df['Reviews'].apply(lambda x: pattern.findall(x))

In [173]:
df.loc[23348, 'Reviews']

"[['lunch 29/9/2016', 'Unplanned Great Dinner'], ['09/30/2016', '08/25/2016']]"

In [176]:
df.loc[23348, ['Reviews','Reviews Date']]

Reviews         [['lunch 29/9/2016', 'Unplanned Great Dinner']...
Reviews Date                         ['09/30/2016', '08/25/2016']
Name: 23348, dtype: object

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [24]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [18]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [25]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [20]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [26]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [27]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.43369788313492064